USE [speed1]
GO
/****** Object:  Table [dbo].[TableMain]    Script Date: 03.12.2023 19:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableMain](
	[id] [int] NOT NULL,
	[v1] [varchar](200) NOT NULL,
	[v2] [varchar](200) NOT NULL,
	[v3] [varchar](200) NOT NULL,
	[v4] [varchar](200) NOT NULL,
	[v5] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
